<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.board.repository.BoardRepository">

	<sql id="criteria">
	    <trim prefix="(" suffix=") AND " prefixOverrides="OR">
	    	<foreach collection="types" item="type">
	    		<trim prefix="OR">
	    			<choose>
	    				<when test="type=='T'.toString()">
	    					TITLE like '%'||#{keyword}||'%'
	    				</when>
	    				<when test="type=='C'.toString()">
	    					CONTENT like '%'||#{keyword}||'%'
	    				</when>
	    				<when test="type=='W'.toString()">
	    					WRITER like '%'||#{keyword}||'%'
	    				</when>	    				
	    			</choose>
	    		</trim>
	    	</foreach>
	    </trim>
	</sql>

	<select id="showList" resultType="boardVO">
		<![CDATA[ 
 	   	select * from  
 		(select /*+INDEX_DESC(hos_board pk_hosboard)*/  
 	    		ROWNUM as rn, BNO, TITLE, CONTENT, WRITER, replyCnt, regDate, updateDate, likeHit, secretContent
 	    		FROM hos_board where 
 	    ]]> 
 	    <include refid="criteria"/> 
	    <![CDATA[
			rownum <= #{maxRow}
 		    ) where rn > #{minRow}
 		]]>
	</select>
	
	<select id="showListById" resultType="boardVO">
		<![CDATA[
  	   	select * from
  		(select /*+INDEX_DESC(hos_board pk_hosboard)*/ 
  	    		ROWNUM as rn, BNO, TITLE, CONTENT, WRITER, replyCnt, regDate, updateDate, likeHit, secretContent 
  	    		FROM hos_board where 
 			rownum <= #{maxRow} and WRITER = #{writer}
 		    ) where rn > #{minRow}
 		]]>
	</select>

	<select id="get" resultType="boardVO">
		select * from hos_board where bno=#{bno}
	</select>

	<select id="getTotalCount" resultType="int">
		select count(bno) from hos_board where
		<include refid="criteria"/>
		bno > 0
	</select>
	
	<select id="getTotalCountById" resultType="int">
		select count(bno) from hos_board where
		bno > 0 and writer = #{writer}
	</select>
	
	<insert id="write" useGeneratedKeys="true" keyColumn="bno" keyProperty="bno">
		insert into hos_board (bno, title, content, writer, secretContent)
		values(seq_hosboard.nextval, #{title}, #{content}, #{writer}, #{secretContent})
	</insert>
	
	<update id="modify">
		update hos_board set title=#{title}, content=#{content}, updateDate=sysdate, secretContent=#{secretContent} where bno=#{bno}
	</update>
	
	<delete id="delete">
		delete from hos_board where bno = #{bno}
	</delete>

	<update id="updateReplyCnt">
		update hos_board set replyCnt = replyCnt + #{amount} where bno = #{bno}
	</update>
	
	<update id="updateLikeCnt">
		update hos_board set likeHit = likeHit + #{amount} where bno = #{bno}
	</update>
	
</mapper>