<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.board.repository.ReplyRepository">

	<select id="replyList" resultType="replyVO">
		<![CDATA[
		select * from 
		(
			select /*+index(hos_reply pk_hosreply) */
				rownum rn, bno, rno, reply, replyer, replyRegDate, replyUpdateDate
			from hos_reply
			where bno = #{bno}
			and rownum <= #{criteria.maxRow} 
		) 
		where rn > #{criteria.minRow}
		]]>
	</select>
	
	<insert id="replyWrite">
		insert into hos_reply(rno, bno, reply, replyer) 
		values(seq_hosreply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<select id="getReplyCount" resultType="int">
		select count(rno) from hos_reply where bno=#{bno}
	</select>
	
	<update id="replyUpdate">
		update hos_reply set reply = #{reply}, replyUpdateDate = sysdate where rno = #{rno} 
	</update>
	
	<select id="getReply" resultType="replyVO">
		select * from hos_reply where rno = ${rno}
	</select>
	
	<delete id="deleteReply">
		delete hos_reply where rno = #{rno}
	</delete>
	
</mapper>