<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.board.repository.ReportRepository">

	<!-- 나중에 다시 쓸거다 -->
<!-- 	<select id="showReportList" resultType="reportVO"> --> 
<!-- 		select /*+INDEX_DESC(hos_board_report pk_report)*/ * from hos_board_report -->
<!-- 	</select> -->
	<select id="showReportList" resultType="reportDTO">
	  	select  r.rnum, r.bno, reportContent, reporter, handle,
	  		b.title, content, writer
	  	from hos_board_report r left outer join hos_board b
		on r.bno = b.bno order by r.rnum desc
    </select>
	
	<select id="getTotalReportCount" resultType="int">
		select count(rnum) from hos_board_report
	</select>
	
	<insert id="report">
		insert into hos_board_report (rnum, bno, reportContent, reporter) 
		values(seq_hosreport.nextval, #{bno}, #{reportContent}, #{reporter})
	</insert>
	
	<update id="handleReport">
		update hos_board_report set handle = #{handle} where bno = #{bno}
	</update>
	
</mapper>