<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.board.repository.ReportRepository">

	<select id="showReportList" resultType="reportDTO">
		<![CDATA[
		select * from(
			select rownum as rn, a.* from
			(select r.rnum, r.bno, reportContent, reporter, handle, b.title, content, writer
		    from hos_board_report r left outer join hos_board b on r.bno = b.bno 
		    ]]>
		    <if test="criteria.searchHandled == 0">
		    	where handle = 0
		    </if>
		    <![CDATA[
		     order by r.rnum desc) a where rownum <= #{criteria.maxRow}
		) where rn > #{criteria.minRow}
		]]>
	</select>
	
	<select id="showReportListByReporter" resultType="reportDTO">
		<![CDATA[
		select * from(
			select rownum as rn, a.* from
			(select r.rnum, r.bno, reportContent, reporter, handle, b.title, content, writer
		    from hos_board_report r left outer join hos_board b on r.bno = b.bno
		     where
		     ]]>
		    <if test="criteria.searchHandled == 0">
		    	handle = 0 and
		    </if>
		    <![CDATA[
		      reporter = #{reporter} order by r.rnum desc)a where rownum <= #{criteria.maxRow}
		) where rn > #{criteria.minRow}
		]]>
    </select>
	
	<select id="getTotalReportCount" resultType="int">
		select count(rnum) from hos_board_report
		<if test="criteria.searchHandled == 0">
		    where handle = 0
		</if>
	</select>
	
	<select id="getTotalReportCountById" resultType="int">
		select count(rnum) from hos_board_report where 
		<if test="criteria.searchHandled == 0">
		    handle = 0 and
		</if>
		 reporter = #{reporter}
	</select>
	
	<insert id="report">
		insert into hos_board_report (rnum, bno, reportContent, reporter) 
		values(seq_hosreport.nextval, #{bno}, #{reportContent}, #{reporter})
	</insert>
	
	<update id="handleReport">
		update hos_board_report set handle = #{handle} where bno = #{bno}
	</update>
	
</mapper>